** {
  padding: 0;
  margin: 0;
  color: white;
}

#navbar {
  height: 50px;
  background-color: #0f1111;
}

button {
  background-color: #f08804;
}
#logo {
  color: #f08804;
  font-size: 25px;
}

a {
  margin-right: 200px;
  text-decoration: none;
}

.contextBox {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
}

#content {
  height: 563px;
}

footer {
  background-color: #0f1111;
  color: white;
  text-align: center;
}
